<footer>
  <div class="row">
    <div class="col-4">
      Lumin8 &copy; 2022
    </div>
    <div class="col-4">
      <ul>
      <a href="/members"><li>Home</li></a>
      <a href="/members/new"><li>Add a New Member</li></a>
    </ul>
    </div>
    <div class="col-4">
      Privacy Policy
    </div>
  </div>
</footer>
  </body>
</html>
