<footer>
  <div class="row" id="footercontainer">
    <div class="col-4" style="text-align:left;">
      <h4>Lumin8</h4>
      <p>Lumin8 is a directory to find Web 3 talent. Find a speaker for your next event ort he perfect partner for your next Web 3 project.</p>
      Lumin8 &copy; 2022
    </div>
    <div class="col-4">
      &nbsp;
    </div>
    <div class="col-4">
      &nbsp;
    </div>
  </div>
</footer>
  </body>
</html>
