<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdn.jsd>elivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
   <link rel="stylesheet" href="/../style.css">
    <title>Lumin8</title>
  </head>
  <body>
  <div class="container">
  <div class="row">
  <div class="col-8">
    Lumin8
  </div>
  <div class="col-4">
    <form action="" method="POST">
<input type="search" id="search" name="search" placeholder="search">
  </form>
<% for(let i=0; i< members.length; i++){%>
<a href=""></a>
<%}%>
</div>
</div>
</div>
  </body>
</html>
