<%- include('./partials/header.ejs') %>
<form method="POST" action="/members">
    <fieldset>
      <label for="name">Name:</label>
      <input id="name" type="text" name="name" placeholder="Enter your full name">
    </fieldset>
    <fieldset>
      <label for="title">Title:</label>
      <input id="title" type="text" name="title" placeholder="Write your title">
    </fieldset>
    <fieldset>
      <label for="bio">Bio:</label>
      <input id="bio" type="textarea" name="bio" placeholder="Write your bio">
    </fieldset>
    <fieldset>
      <label for="img">Image:</label>
      <input id="img" type="text" name="img" placeholder="Upload your image here">
    </fieldset>
    <fieldset>
      <label for="accomplishments">Accomplishments:</label>
      <input id="accomplishments" type="text" name="accomplishments" placeholder="Use a comma to seperate each accomplishment">
    </fieldset>
    <fieldset>
      <label for="contact">Contact:</label>
      <input id="contact" type="text" name="contact" placeholder="List the best way to contact you">
    </fieldset>
    <fieldset>
      <label for="location">Location:</label>
      <input id="location" type="text" name="location" placeholder="City, State, Country">
    </fieldset>
    <fieldset>
      <label for="tags">tags:</label>
      <input id="tags" type="text" name="tags" placeholder="Use a comma to seperate each accomplishment">
    </fieldset>
    <input type="submit" value="Submit">
  </form>
<%- include('./partials/footer.ejs') %>
